/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

/* 
$breakpoint argunment choices:
- phone
- tab-port
- tab-land
- big-desk

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 75em) {
    body {
      padding: 0; } }
  body ::selection {
    background-color: #7296e8;
    color: #FFF; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #656565; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  @media (max-width: 37.5em) {
    .heading-primary span {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; } }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    animation-delay: 3s; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    animation-delay: 3s; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #469dea, #49b5f4);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  @media (max-width: 56.25em) {
    .paragraph {
      margin-bottom: 10rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem; } }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.u-padding-top-small {
  padding-top: 3rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: .0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #FFF;
  color: #656565; }
  .btn--white::after {
    background-color: #FFF; }

.btn--blue {
  background-color: #7296e8;
  color: #FFF; }
  .btn--blue::after {
    background-color: #FFF; }

.btn--blue-light {
  background-color: #49b5f4;
  color: #FFF; }
  .btn--blue-light::after {
    background-color: #FFF; }

.btn--blue-dark {
  background-color: #469dea;
  color: #FFF; }
  .btn--blue-dark::after {
    background-color: #FFF; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7296e8;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7296e8;
  padding: 3px; }

.btn-text:hover {
  background-color: #7296e8;
  color: #FFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.composition {
  position: relative; }
  @media (max-width: 75em) {
    .composition {
      margin-top: 13rem; } }
  @media (max-width: 37.5em) {
    .composition {
      margin-top: 19rem; } }
  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 35%; } }
    @media (max-width: 37.5em) {
      .composition__photo {
        width: 40%; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          left: -1rem;
          top: -21rem; } }
      @media (max-width: 37.5em) {
        .composition__photo--p1 {
          left: 0%;
          top: -26rem; } }
    .composition__photo--p2 {
      left: 28rem;
      top: 2rem; }
      @media (max-width: 75em) {
        .composition__photo--p2 {
          left: 51%; } }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          left: 57rem;
          top: -21rem; } }
      @media (max-width: 37.5em) {
        .composition__photo--p2 {
          left: 59%;
          top: -27rem; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          left: 33%;
          top: -21rem; } }
      @media (max-width: 37.5em) {
        .composition__photo--p3 {
          left: 29%;
          top: -29rem; } }
    .composition__photo:hover {
      outline: 0.5rem solid #7296e8;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2.5rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #49b5f4, #469dea);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.section-signup {
  background-color: #f7f7f7;
  padding-top: 25vh;
  margin-top: -30vh;
  -webkit-clip-path: polygon(0 21vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 21vh, 100% 0, 100% 100%, 0 100%);
  z-index: -500; }
  @media (max-width: 75em) {
    .section-signup {
      -webkit-clip-path: polygon(0 25vh, 100% 17vh, 100% 100%, 0 100%);
      clip-path: polygon(0 25vh, 100% 17vh, 100% 100%, 0 100%);
      margin-top: -37vh; } }
  @media (max-width: 37.5em) {
    .section-signup {
      -webkit-clip-path: polygon(0 7vh, 100% 4vh, 100% 100%, 0 100%);
      clip-path: polygon(0 7vh, 100% 4vh, 100% 100%, 0 100%);
      padding-top: 10vh; } }
  .section-signup__form {
    width: 80%;
    margin: 0 auto; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 60%;
    height: 60rem;
    background-color: #FFF;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #000;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    z-index: 9999; }
  .popup__close:hover {
    color: #7296e8; }

.section-slider {
  height: 50rem;
  width: 100%;
  background-color: #f7f7f7;
  margin-bottom: -45rem; }
  @media (max-width: 75em) {
    .section-slider {
      height: 40rem; } }
  @media (max-width: 37.5em) {
    .section-slider {
      height: 28rem;
      margin: 7rem 0; } }

.slider {
  position: absolute;
  width: 98%;
  height: 20rem;
  overflow: hidden;
  z-index: 5000; }
  .slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 170%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    pointer-events: none;
    transition: 0s ease-in; }
    .slider__inner-image img {
      width: 100%;
      height: auto; }
    @media (max-width: 37.5em) {
      .slider__inner {
        width: 200%; } }

.section-video {
  height: 100rem;
  background-color: #f7f7f7;
  position: relative;
  -webkit-clip-path: polygon(0 18vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 18vh, 100% 0, 100% 100%, 0 100%);
  margin-top: -30vh; }
  @media (max-width: 75em) {
    .section-video {
      -webkit-clip-path: polygon(0 9vh, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 9vh, 100% 0, 100% 100%, 0 100%);
      margin-top: -35vh; } }
  @media (max-width: 37.5em) {
    .section-video {
      height: 50rem; } }
  .section-video__box {
    width: 100%;
    height: 50rem;
    position: relative;
    padding: 30rem;
    top: 15rem;
    left: -24rem; }
    @media (max-width: 37.5em) {
      .section-video__box {
        padding: 30rem 0;
        width: 90%; } }
  .section-video--video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 25rem; }
    @media (max-width: 75em) {
      .section-video--video {
        left: 24rem; } }
    @media (max-width: 37.5em) {
      .section-video--video {
        top: -18%;
        left: 72%; } }
  .section-video__text {
    position: absolute;
    top: 5rem;
    left: 57%; }
    @media (max-width: 37.5em) {
      .section-video__text {
        top: 0rem;
        left: 80%;
        width: 100%; } }

.footer {
  position: relative;
  background-color: #656565;
  margin-bottom: -3rem;
  width: 100%;
  padding: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block; }
  .footer__text {
    color: #FFF;
    text-decoration: none; }
    .footer__text a {
      color: #7296e8;
      text-decoration: none; }
      .footer__text a:hover {
        color: #49b5f4; }
    .footer__text:link, .footer__text:visited {
      color: #FFF;
      text-decoration: none; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .row {
      max-width: 120rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 85rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem) / 4) + 2* 6rem); }

.header,
.header-contact,
.header-product {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(73, 181, 244, 0.6), rgba(70, 157, 234, 0.6)), url(../img/background-photo.png);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 90%);
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 90%); }
  @media (max-width: 75em) {
    .header,
    .header-contact,
    .header-product {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 72%);
      clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 72%); } }
  @media (max-width: 37.5em) {
    .header,
    .header-contact,
    .header-product {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 80%);
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 80%); } }
  .header-contact,
  .header-contact-contact,
  .header-product-contact {
    background-image: linear-gradient(to right bottom, rgba(73, 181, 244, 0.6), rgba(70, 157, 234, 0.6)), url(../img/contact-background.jpg); }
  .header-product,
  .header-contact-product,
  .header-product-product {
    background-image: linear-gradient(to right bottom, rgba(73, 181, 244, 0.6), rgba(70, 157, 234, 0.6)), url(../img/background-produktet.jpg);
    z-index: 500; }
  .header__logo-box,
  .header-contact__logo-box,
  .header-product__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo,
  .header-contact__logo,
  .header-product__logo {
    height: 5.5rem; }
  .header__text-box,
  .header-contact__text-box,
  .header-product__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 75em) {
      .header__text-box,
      .header-contact__text-box,
      .header-product__text-box {
        top: 35%; } }
    @media (max-width: 56.25em) {
      .header__text-box,
      .header-contact__text-box,
      .header-product__text-box {
        top: 35%; } }
    @media (max-width: 37.5em) {
      .header__text-box,
      .header-contact__text-box,
      .header-product__text-box {
        top: 44%;
        width: 90%; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFF;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#49b5f4, #469dea);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -200;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
  background-size: 225%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #469dea;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  z-index: 1500; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #656565;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-features {
  padding: 15rem 0 30rem 0;
  background-image: linear-gradient(to right bottom, #49b5f4, #469dea);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -20rem; }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 75em) {
    .section-features {
      margin-top: -23rem;
      padding: 15rem 2rem 20rem 2rem;
      margin-bottom: 20rem; } }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 17rem 15rem; } }
  @media (max-width: 37.5em) {
    .section-features {
      margin-top: -32rem;
      transform: skewY(-3deg);
      padding: 5rem 2rem 25rem 2rem; }
      .section-features > * {
        transform: skewY(3deg); } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -35vh;
  margin-bottom: 10vh; }
  @media (max-width: 75em) {
    .section-about {
      margin-top: -40vh;
      padding: 25rem 2rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 25rem 2rem; } }

.product-presentation {
  height: 80rem;
  background-color: #FFF;
  position: relative;
  overflow: hidden;
  z-index: 500;
  width: 100%; }
  @media (max-width: 75em) {
    .product-presentation {
      height: 90rem; } }
  @media (max-width: 56.25em) {
    .product-presentation {
      height: 110rem; } }
  @media (max-width: 37.5em) {
    .product-presentation {
      height: 140rem;
      margin-top: 3rem; } }
  .product-presentation__content {
    padding-top: 5rem;
    width: 80%;
    margin: auto;
    text-align: center; }
    .product-presentation__content-1 {
      text-align: left; }
    .product-presentation__content-2 {
      text-align: left;
      margin-top: 2rem; }
    .product-presentation__content-3 {
      text-align: left; }
    .product-presentation__content-p {
      margin: 6rem 0 8rem 0; }
      @media (max-width: 37.5em) {
        .product-presentation__content-p {
          text-align: left; } }
    @media (max-width: 56.25em) {
      .product-presentation__content {
        text-align: left; } }

.product__section {
  height: 100vh;
  background-color: #f7f7f7;
  position: relative; }
  .product__section__video {
    height: 70%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 12rem;
    left: 0; }
    @media (max-width: 75em) {
      .product__section__video {
        height: 70%; } }
    @media (max-width: 56.25em) {
      .product__section__video {
        height: 70%; } }
    @media (max-width: 37.5em) {
      .product__section__video {
        height: 61%;
        top: 9rem; } }
  @media (max-width: 75em) {
    .product__section {
      height: 60vh;
      margin-bottom: -10rem; } }
  @media (max-width: 37.5em) {
    .product__section {
      height: 50vh; } }
