// COLORS

$color-grey-dark: #656565;
$color-grey-dark-2: #999;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-white: #FFF;
$color-black: #000;



// FONTS
$default-font-size: 1.6rem