.footer {
    position: relative;
    background-color: $color-grey-dark;
    margin-bottom: -3rem;
    width: 100%;
    padding: 2rem;
    text-transform: uppercase;
    font-size: $default-font-size;
    text-decoration: none;
    display: inline-block;

    &__text {
        color: $color-white;
        text-decoration: none;

        & a {
            color: $color-primary;
            text-decoration: none;

            &:hover {
                color: $color-primary-light;
            }
        }

        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
        }
    }
}