.section-signup {
    background-color: $color-grey-light-1;
    padding-top: 30vh;
    margin-top: -25vh;
    -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%);
    z-index: -500;

    @include respond(tab-land) {
        -webkit-clip-path: polygon(0 25vh, 100% 17vh, 100% 100%, 0 100%);
        clip-path: polygon(0 25vh, 100% 17vh, 100% 100%, 0 100%);

    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 7vh, 100% 4vh, 100% 100%, 0 100%);
        clip-path: polygon(0 7vh, 100% 4vh, 100% 100%, 0 100%);
        padding-top: 10vh;
    }

    &__form {
        width: 80%;
        margin: 0 auto;

    }
}