.section-signup {
    background-color: $color-grey-light-1;
    padding-top: 25vh;
    margin-top: -30vh;
    -webkit-clip-path: polygon(0 21vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 21vh, 100% 0, 100% 100%, 0 100%);
    z-index: -500;

    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 8vh, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 8vh, 100% 0, 100% 100%, 0 100%);
    }

    @include respond(tab-land) {
        -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
    }


    &__form {
        width: 80%;
        margin: 0 auto;

    }
}