.section-slider {
    height: 50rem;
    width: 100%;
    background-color: $color-grey-light-1;
    margin-bottom: -45rem;

    @include respond(tab-land) {
        height: 33rem;
    }

    @include respond(phone) {
        height: 48rem;
    }

}

.slider {
    position: absolute;
    width: 98%;
    height: 20rem;
    overflow: hidden;
    z-index: 5000;

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 170%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        pointer-events: none;
        transition: 0s ease-in;

        &-image img {
            width: 100%;
            height: auto;
        }

        @include respond(phone) {
            width: 200%;
        }
    }

}