.section-product {
    position: relative;
    top: 0rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    overflow: hidden;

    &__video {
        height: 70%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 11rem;
        left: 0;
    }
}