.section-features {
    padding: 15rem 0 30rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 1), rgba($color-primary-dark, 1));
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -20rem;

    &>* {
        transform: skewY(7deg);
    }

    @include respond(tab-land) {
        margin-top: -23rem;
        padding: 15rem 2rem 20rem 2rem;
    }

    @include respond(tab-port) {
        padding: 17rem 15rem;

    }

    @include respond(phone) {
        margin-top: -32rem;
        transform: skewY(-3deg);
        padding: 5rem 2rem 25rem 2rem;

        &>* {
            transform: skewY(3deg);
        }
    }
}