.product-presentation {
    height: 115vh;
    background-color: $color-white;
    position: relative;
    overflow: hidden;
    z-index: 500;
    width: 100%;

    @include respond(tab-land) {
        height: 80rem;
    }

    @include respond(tab-port) {
        height: 102rem;
    }

    @include respond(phone) {
        height: 140rem;
        margin-top: 3rem;
    }


    &__content {
        padding-top: 5rem;
        width: 80%;
        margin: auto;
        text-align: center;

        &-1 {
            text-align: left;
        }

        &-2 {
            text-align: left;
            margin-top: 2rem;
        }

        &-3 {
            text-align: left;
        }

        &-p {
            margin: 4rem auto;

            @include respond(phone) {
                text-align: left;
            }
        }

        @include respond(tab-port) {
            text-align: left;
        }
    }

}


.product__section {
    height: 100vh;
    background-color: $color-grey-light-1;
    position: relative;

    &__video {
        height: 70%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 12rem;
        left: 0;

        @include respond(tab-land) {
            height: 70%;
        }

        @include respond(tab-port) {
            height: 70%;
        }

        @include respond(phone) {
            height: 61%;
            top: 9rem;
        }

    }

    @include respond(tab-land) {
        height: 60vh;
        margin-bottom: -10rem;
    }

    @include respond(phone) {
        height: 50vh;
    }
}